* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root {
  --maxwidth: 142rem;
  font-family: Epilogue;
  --Black: #2d2d2d;
  --white: #ffffff;
  --gray: #f3f3f3;
}

.center {
  margin-inline: 0;
  max-width: var(--maxwidth);
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 1;
  padding-top: 24px;
  padding-right: 42px;
  padding-bottom: 24px;
  padding-left: 42px;
}

.hero h4 {
  font-family: Epilogue;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black);
}
.navbar {
  gap: 24px;
  opacity: 1;
}
ul {
  display: flex;
  flex-direction: row;
}
li {
  list-style: none;
  margin-left: 24px;
}
li a {
  text-decoration: none;
  color: var(--Black);
  font-family: Epilogue;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black);
}

.mains {
  gap: 68px;
  opacity: 1;
  padding-top: 42px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 42px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-inline: 20px;
}
.main-left img {
  width: 480;
  height: 360;
  opacity: 1;
}
.main-right {
  gap: 48px;
  opacity: 1;
}
.main-right div {
  margin-top: 30px;
}
.main-right h4 {
  font-family: Epilogue;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  color: var(--Black);
  line-height: 30px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.main-right h1 {
  font-family: Epilogue;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 68px;
  color: var(--Black);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.main-right p {
  font-family: Epilogue;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  color: var(--Black);
  line-height: 27px;
  letter-spacing: 0%;
}
.main-right button {
  width: 211;
  height: 78;
  gap: 10px;
  opacity: 1;
  border: none;
  background-color: var(--Black);
  font-family: Epilogue;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  color: var(--white);
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.image {
  background-color: var(--white);
  opacity: 1;
  margin-block: 20px;
}
.image img {
  width: 100%;
}
.designs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 42px;
  opacity: 1;
  padding-top: 42px;
  padding-right: 24px;
  padding-bottom: 42px;
  padding-left: 24px;
  margin-inline: 30px;
}
.design-img {
  text-align: center;
}
.design-img img {
  width: 124px;
  height: 124;
  opacity: 1;
  align-items: center;
}
img {
  text-align: center;
}
.design-h3 h3 {
  font-family: Epilogue;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 27px;
  color: var(--Black);
  line-height: 42px;
  letter-spacing: 0%;
  text-align: center;
  margin-block: 20px;
}
.design-p p {
  font-family: Epilogue;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  color: var(--Black);
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  margin-block: 20px;
}
.latest-works {
  gap: 42px;
  opacity: 1;
  padding-top: 42px;
  padding-right: 24px;
  padding-bottom: 42px;
  padding-left: 24px;
}
.latest {
  margin-block: 20px;
}
.latest h2 {
  font-family: Epilogue;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  color: var(--Black);
  line-height: 42px;
  letter-spacing: 0%;
  text-align: center;
}

.works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work-img img {
  width: 394.66668701171875;
  height: 330;
  opacity: 1;
  margin-block: 20px;
}
.work-h3 {
  font-family: Epilogue;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  color: var(--Black);
  line-height: 30px;
  letter-spacing: 0%;
}
.work-p {
  font-family: Epilogue;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  color: var(--Black);
  line-height: 27px;
  letter-spacing: 0%;
}
.testimonials {
  gap: 42px;
  opacity: 1;
  padding-top: 42px;
  padding-right: 24px;
  padding-bottom: 42px;
  padding-left: 24px;
}
.testimonial {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.testimony {
  gap: 68px;
  opacity: 1;
  padding: 42px;
  background-color: var(--gray);
  margin-block: 10px;
}

.testimon {
  margin-block: 20px;
}
.testimonial-h3 {
  font-family: Epilogue;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  color: var(--Black);
  line-height: 30px;
  letter-spacing: 0%;
}
.testimon {
  display: flex;
  margin-top: 50px;
  gap: 11px;
  opacity: 1;
}
.testimonial-img img {
  width: 50;
  height: 50;
  opacity: 1;
  margin-inline: 20px;
}
.test {
  margin-inline: 20px;
}
.testimonial-icon i {
  width: 20;
  height: 20;

  opacity: 1;
}
.testimonial-h5 {
  font-family: Epilogue;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  color: var(--Black);
  line-height: 30px;
  letter-spacing: 0%;
}
.testimonial-p {
  font-family: Epilogue;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  color: var(--Black);
  line-height: 27px;
  letter-spacing: 0%;
}
.foot {
  gap: 24px;
  opacity: 1;
  padding-top: 42px;
  padding-right: 24px;
  padding-bottom: 86px;
  padding-left: 24px;
}
.foot-h2 h2 {
  font-family: Epilogue;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  color: var(--Black);
  line-height: 42px;
  letter-spacing: 0%;
  margin-block: 20px;
}
.foots {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-block: 20px;
}
.leftfoot {
  gap: 42px;
  opacity: 1;
}
.leftfoot-p p {
  font-family: Epilogue;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  color: var(--Black);
  line-height: 27px;
  letter-spacing: 0%;
}
.leftfooticons {
  gap: 24px;
  opacity: 1;
  margin-block: 50px;
}
.leftfooticons i {
  width: 36px;
  height: 36px;
  opacity: 1;
  margin-inline: 20px;
  opacity: 1;

  color: black;
}
.name {
  margin-block: 10px;
}
.name button {
  width: 100%;
  min-width: 320px;
  max-width: 520px;
  gap: 10px;
  color: var(--Black);
  background-color: #f3f3f3;
  opacity: 1;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border: none;
  text-align: start;
}

.submit button {
  width: 199;
  height: 78;
  gap: 10px;
  opacity: 1;
  background-color: var(--Black);
  font-family: Epilogue;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  color: var(--white);
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-block: 20px;
}
